*.log
*.aux
*.nav
*.out
*.toc
*.pre
*.snm
*.lot
*.ind
*.ilg
*.idx
*.lof
*.fdb_latexmk
*.fls
*.bbl
*.blg
*~
\#*
.\#*

# build artifacts
.DS_Store
__pycache__/
python/luck_config.json
main.pdf
graphics/*.pdf
